name: env-and-secrets

on:
  workflow_dispatch:

env:
  AWS_REGION: us-east-1
  ENVIRONMENT: production

jobs:
  name: deploy-to-aws
  runs-on: ubuntu-latest
  env:
    DEPLOYMENT_NAME: my_aws_deployment
  steps:
    - name: print workflow-level environment variables
      run: | 
        echo workflow level variables are ${{env.AWS_REGION}} on ${{env.ENVIRONMENT}} branch
        echo on the ${{DEPLOYMENT_NAME}}
    
    - name: access and print (masked) the AWS credentials from secrets
      run: |
        echo AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
        echo AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}

    - name: Set a step level environment variable and use it
      env:
        STEP_MESSAGE: I'm a step level environment variable
      run: echo ${{env.STEP_MESSAGE}}

    - name: demonstrate the scope of each variable level
      run: |
        echo workflow level environment variable: ${{env.AWS_REGION}}, ${{env.ENVIRONMENT}}
        echo job level environment variable: ${{DEPLOYMENT_NAME}}
        echo step level environment variable (will not show): ${{env.STEP_MESSAGE}}

